<?xml version="1.0"?>
<!--
/**
 * integer_net GmbH Magento Module
 *
 * @package    TinyMCEFixEmbeds
 * @copyright  Copyright (c) 2020 integer_net GmbH (http://www.integer-net.de/)
 * @author     integer_net GmbH <info@integer-net.de>
 */
 -->
<config>
    <modules>
        <TinyMCEFixEmbeds>
            <version>0.1.0</version>
        </TinyMCEFixEmbeds>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <integernet_tinymcefixembeds>
                    <file>integernet_tinymcefixembeds/integernet_tinymcefixembeds.xml</file>
                </integernet_tinymcefixembeds>
            </updates>
        </layout>
    </adminhtml>
</config>